# App
NEXT_PUBLIC_APP_URL=http://localhost:3000


# Clerk (Dashboard -> Create App)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...


# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_PRICE_STARTER_ID=price_...
NEXT_PUBLIC_STRIPE_PRICE_PRO_ID=price_...